.module-window {
  width: 400px;
  height: 400px;
  background-color: rgb(230, 230, 230);
  border-radius: 16px;
  position: fixed;
  z-index: 2;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 0px 7px 0px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media (max-width: 760px) {
    width: 360px;
  }

  @media (max-width: 640px) {
    width: 300px;
    height: 360px;
  }
}
