.main {
  --bg-color: rgba(128, 128, 128, 0.2);

  &-table {
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
    transition: all 1s ease;

    tr {
      cursor: pointer;
      height: 40px;

      @media (hover: hover) {
        &:not(.head-table-row):hover {
          background-color: var(--bg-color);
        }
      }

      &:not(.head-table-row):active {
        background-color: var(--bg-color);
      }
    }

    .head-table-row {
      cursor: default;
    }

    td {
      border: 2px solid rgba(128, 128, 128, 0.5);
      text-align: center;
      min-width: 50px;
      transition: all 0.3s ease;
    }

    .active-cell {
      border: 4px solid rgba(128, 128, 128, 0.8);
      width: 24%;

      &-address {
        border: 4px solid rgba(128, 128, 128, 0.8);
        width: 36%;
      }
    }
  }

  .head-table {
    height: 40px;
  }

  .empty-title {
    width: 180px;
    margin: 20px auto;
  }
}
