.sort-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.sort-wrapper {
  width: 300px;
  position: relative;

  .sort-by {
    width: 100%;
  }
}
